body{
    background-color: red;
    height: 100vh;
    display:flex;
    justify-content: center;
    padding: 50px;
}
.add-food{
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}