p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin-left: 5px;
    font-weight: bold;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    margin-left: 5px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

img{
    height: 245px;
    width: 235px;
    border-radius: 13px;
}

.contain{
    background-color: red;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
}

.contain:hover{
    background-color:red;
}

