body{
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1323040139/vector/vector-trendy-sign-fast-food-creative-3d-alphabet-letters-and-numbers-set.jpg?s=612x612&w=0&k=20&c=0ogXwRIbLyEAhAt40f8yoxxk8mNF7d1EXVyohQY1zow=');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container{
    align-items: center;
    justify-content: center;
    width:35vw;
    height: 35vh;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px white;
    padding: 10px;
    opacity: 0.7;
}

h1{
    font-family:fantasy;
    font-size: 65px;
    color: white;
}
button{
    padding: 13px;
    border-radius: 10px;
    width: 120px;
    background-color: white;
    color: rgb(0, 3, 5);
    border-width: 0px;
    margin-top: 40px;
    margin-right: 15px;
    font-family:fantasy;
    font-size: 20px;
}
button:hover{
    background-color:rgb(232, 62, 46);
}
